# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Gradle
.gradle
build/

# Maven
target/
dependency-reduced-pom.xml
release.properties

# IntelliJ IDEA
*.iml
.idea/
*.iws
*.ipr
out/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Environment files
.env
